LogicApp-Promptbook/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Report_Copilot_name": {
            "defaultValue": "Report-Copilot",
            "type": "String"
        },
        "connections_Office365_Report_Copilot_name": {
            "defaultValue": "Office365-Report-Copilot",
            "type": "String"
        },
        "connections_SecurityCopilot_Report_Copilot_name": {
            "defaultValue": "SecurityCopilot-Report-Copilot",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_Office365_Report_Copilot_name')]",
            "location": "australiaeast",
            "kind": "V1",
            "properties": {
                "displayName": "Office365-Report-Copilot",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2024-06-27T01:08:47.3126811Z",
                "changedTime": "2024-06-30T03:22:31.5777573Z",
                "api": {
                    "name": "office365",
                    "displayName": "Office 365 Outlook",
                    "description": "Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png",
                    "brandColor": "#0078D4",
                    "id": "/subscriptions/43c8298f-fa11-4cab-8e6f-7f4ba78ab52e/providers/Microsoft.Web/locations/australiaeast/managedApis/office365",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/43c8298f-fa11-4cab-8e6f-7f4ba78ab52e/resourceGroups/rg-copilotforsecurity-prd-aue-01/providers/Microsoft.Web/connections/', parameters('connections_Office365_Report_Copilot_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_SecurityCopilot_Report_Copilot_name')]",
            "location": "australiaeast",
            "kind": "V1",
            "properties": {
                "displayName": "SecurityCopilot-Report-Copilot",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2024-06-27T01:08:47.2662611Z",
                "changedTime": "2024-06-30T03:31:53.871359Z",
                "api": {
                    "name": "securitycopilot",
                    "displayName": "Microsoft Copilot for Security",
                    "description": "A generative AI-powered assistant for daily operations in security and IT. AI-generated content may contain mistakes. Check responses for accuracy.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1694/1.0.1694.3752/securitycopilot/icon.png",
                    "brandColor": "#0072C6",
                    "id": "/subscriptions/43c8298f-fa11-4cab-8e6f-7f4ba78ab52e/providers/Microsoft.Web/locations/australiaeast/managedApis/securitycopilot",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Report_Copilot_name')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_SecurityCopilot_Report_Copilot_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_Office365_Report_Copilot_name'))]"
            ],
            "tags": {
                "Created By": "Anthony Porter",
                "CreatedDate": "06/27/2024 9:00:01 AM",
                "hidden-SentinelTemplateName": "Report-Copilot",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "email": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "SentinelWorkspaceName": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "SubscriptionName": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "ResourceGroupName": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "AzureADTenantID": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "OrganisationName": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "Prompt1": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "Prompt2": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "Prompt3": {
                            "defaultValue": "-",
                            "type": "String"
                        },
                        "Prompt4": {
                            "defaultValue": "Summarize this in a report and call it \"  Report\" with the current date. The following should include an executive summary and a technical summary.",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Month",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Prompt2": {
                            "runAfter": {
                                "Prompt1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot_3']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "PromptContent": "@parameters('Prompt2')",
                                    "SessionId": "@body('Prompt1')?['sessionId']"
                                },
                                "path": "/process-prompt"
                            }
                        },
                        "Prompt1": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot_3']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "PromptContent": "@{parameters('Prompt1')} ,\n\n\nSubscription Name:@{parameters('SubscriptionName')} ,\n\nResource Group Name:@{parameters('ResourceGroupName')} ,\n\nWorkspace Name:@{parameters('SentinelWorkspaceName')} ,\n\nAzure AD Tenant ID:@{parameters('AzureADTenantID')}"
                                },
                                "path": "/process-prompt"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Compose_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@parameters('email')",
                                    "Subject": "@{parameters('OrganisationName')}-  Report",
                                    "Body": "<p>@{outputs('Compose_2')}</p>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        },
                        "Prompt4": {
                            "runAfter": {
                                "Prompt3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot_3']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "PromptContent": "@parameters('Prompt4')",
                                    "SessionId": "@body('Prompt1')?['sessionId']",
                                    "SkillName": "SummarizeData"
                                },
                                "path": "/process-prompt"
                            }
                        },
                        "Prompt3": {
                            "runAfter": {
                                "Prompt2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot_3']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "PromptContent": "@parameters('Prompt3')",
                                    "SessionId": "@body('Prompt1')?['sessionId']"
                                },
                                "path": "/process-prompt"
                            }
                        },
                        "Parse-JSON": {
                            "runAfter": {
                                "Prompt4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Prompt4')",
                                "schema": {
                                    "properties": {
                                        "Evaluation Result Content": {
                                            "type": "string"
                                        },
                                        "Evaluation Result Type": {
                                            "type": "string"
                                        },
                                        "Prompt Content": {
                                            "type": "string"
                                        },
                                        "SessionId": {
                                            "type": "string"
                                        },
                                        "Skill Name": {},
                                        "Skill Sources": {
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Compose_2": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('Compose')), '%0A', '%3Cbr%3E'))"
                        },
                        "Compose": {
                            "runAfter": {
                                "Parse-JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('Parse-JSON')?['Evaluation Result Content']"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "securitycopilot_3": {
                                "id": "/subscriptions/43c8298f-fa11-4cab-8e6f-7f4ba78ab52e/providers/Microsoft.Web/locations/australiaeast/managedApis/SecurityCopilot",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_SecurityCopilot_Report_Copilot_name'))]",
                                "connectionName": "[concat('SecurityCopilot-', parameters('workflows_Report_Copilot_name'))]"
                            },
                            "office365_1": {
                                "id": "/subscriptions/43c8298f-fa11-4cab-8e6f-7f4ba78ab52e/providers/Microsoft.Web/locations/australiaeast/managedApis/Office365",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_Office365_Report_Copilot_name'))]",
                                "connectionName": "[concat('Office365-', parameters('workflows_Report_Copilot_name'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}